/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
	height: 150px;
}

aside {
	background: beige;
	height: 300px;
	
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */

.mono {
	display: flex;
	width: 100%;
}

.di {
 	width: 100%
}

.tri {
	display: flex;
	flex-basis: 300px;
}

nav {
	flex-basis: 200px;
	height: 600px;
}

article {
	
	flex-grow: 2;
}

aside {
	flex-grow: 1;
	
}