/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
		height: 150px;
		padding: 20px;
}

aside {
	background: beige;
	flex-grow: 1;
	padding: 20px;
}

nav {
	background: lightsteelblue;
	flex-grow: 1;
	padding: 20px;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */
.main {
	display: flex;
	height: 400px;
	
}

article {
	flex-grow: 3;
	padding: 20px;
}
