/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */

.main, .secondary, .tertiary, .quarterly {
	display: flex;
}

nav {
	width: 20%;
}

.secondary {
	flex-direction: column;
	width: 80%;
}

.tertiary {
	width: 80%;
}

.quarterly {
	flex-direction: column;
}


